@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 0%, 100%;
    --foreground: 217, 26%, 22%;

    --card: 0 0% 100%;
    --card-foreground: 217, 26%, 22%;

    --popover: 0 0% 100%;
    --popover-foreground: 217, 26%, 22%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 217, 33%, 91%;
    --input: 217, 33%, 91%;
    --ring: 217, 26%, 22%;
    --dark-blue-gray: 217, 26%, 22%;
    --radius: 0.5rem;
    --primary-blue: 224, 100%, 68%;
    --shade-blue: 224, 100%, 68%;
    --gray-md: 218, 19%, 44%;
    --light-gray: #eaeff4;
    --dark-gray: 218, 19%, 44%;
    --light-info: 215, 90%, 96%, 1;
    --slate-info: 226, 24%, 27%, 1;
    --light-success: 168, 100%, 95%, 1;
    --gray-550: 218, 19%, 44%, 1;
    --gray-medium-blue-grey: 216, 22%, 58%, 1;
    --error: 13, 93%, 70%, 1;

    --landing: "#00020D";
  }

  .dark {
    --background: 217, 26%, 22%;
    --foreground: 210 40% 98%;

    --card: 217, 26%, 22%;
    --card-foreground: 210 40% 98%;

    --popover: 217, 26%, 22%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --shade-blue: 224, 100%, 68%;
    --gray-md: 218, 19%, 44%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-[1rem];
  }
}

@layer components {
  .heading-6 {
    @apply text-[1rem]  font-semibold leading-[120%] text-foreground;
  }
  .big-text {
    @apply text-[1rem]  font-normal leading-[140%] tracking-[-0.32px] text-foreground;
  }
  .text-normal {
    @apply text-[0.875rem] font-normal leading-[120%] tracking-[-0.28px] text-foreground;
  }
  .heading-1 {
    @apply text-[1.75rem] text-[#333B54] font-semibold leading-[130%];
  }
  .heading-5 {
    @apply text-[1.125rem]  font-semibold leading-[120%] text-foreground;
  }
  .small-text {
    @apply text-[0.75rem] font-semibold leading-[140%] text-gray-md;
  }
  .heading-4 {
  }
  .reg_top {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      url(../public/assets/images/Rectangle.png),
      lightgray 0px -341.108px / 99.95% 529.907% no-repeat;
    @apply min-h-[214px] bg-no-repeat bg-cover w-full rounded-[25px];
  }
  .light_text {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .hero_btn {
    @apply border-2 border-[#42A3FF] h-[65px] inline-flex items-center justify-center gap-1 px-4;
    background: var(
      --Linear,
      linear-gradient(95deg, #4b86fc -75.89%, #75f2f6 155.97%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 40px;
  }
}
