@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 0%, 100%;
    --foreground: 217, 26%, 22%;

    --card: 0 0% 100%;
    --card-foreground: 217, 26%, 22%;

    --popover: 0 0% 100%;
    --popover-foreground: 217, 26%, 22%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 217, 33%, 91%;
    --input: 217, 33%, 91%;
    --ring: 217, 26%, 22%;
    --dark-blue-gray: 217, 26%, 22%;
    --radius: 0.5rem;
    --primary-blue: 224, 100%, 68%;
    --shade-blue: 224, 100%, 68%;
    --gray-md: 218, 19%, 44%;
    --light-gray: #eaeff4;
    --dark-gray: 218, 19%, 44%;
    --light-info: 215, 90%, 96%, 1;
    --slate-info: 226, 24%, 27%, 1;
    --light-success: 168, 100%, 95%, 1;
    --gray-550: 218, 19%, 44%, 1;
    --gray-medium-blue-grey: 216, 22%, 58%, 1;
    --error: 13, 93%, 70%, 1;

    --landing: "#00020D";
  }

  .dark {
    --background: 217, 26%, 22%;
    --foreground: 210 40% 98%;

    --card: 217, 26%, 22%;
    --card-foreground: 210 40% 98%;

    --popover: 217, 26%, 22%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --shade-blue: 224, 100%, 68%;
    --gray-md: 218, 19%, 44%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-[1rem];
  }
}

@layer components {
  .heading-6 {
    @apply text-[1rem]  font-semibold leading-[120%] text-foreground;
  }
  .big-text {
    @apply text-[1rem]  font-normal leading-[140%] tracking-[-0.32px] text-foreground;
  }
  .text-normal {
    @apply text-[0.875rem] font-normal leading-[120%] tracking-[-0.28px] text-foreground;
  }
  .heading-1 {
    @apply text-[1.75rem] text-[#333B54] font-semibold leading-[130%];
  }
  .heading-5 {
    @apply text-[1.125rem]  font-semibold leading-[120%] text-foreground;
  }
  .small-text {
    @apply text-[0.75rem] font-semibold leading-[140%] text-gray-md;
  }
  .heading-4 {
  }
  .reg_top {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      url(../public/assets/images/Rectangle.png),
      lightgray 0px -341.108px / 99.95% 529.907% no-repeat;
    @apply min-h-[214px] bg-no-repeat bg-cover w-full rounded-[25px];
  }
  .container {
    @apply px-2 xl:px-4;
  }
  .light_text {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .hero_btn {
    @apply border-2 bg-transparent border-[#42A3FF] relative overflow-hidden after:absolute after:w-full  hover:after:bg-gradient-sm h-[55px] inline-flex items-center justify-center gap-3 px-4 text-xl font-medium rounded-full;
    background: var(
      --Linear,
      linear-gradient(95deg, #4b86fc -75.89%, #75f2f6 155.97%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .standard_packdage {
    border-radius: 10px;
    border: 2px solid var(--Linear, #4b86fc);
    background: rgba(241, 241, 255, 0.2);
    backdrop-filter: blur(50px);
  }
  .premium_pack {
    border-radius: 12px;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.45) 0%,
        rgba(0, 0, 0, 0.45) 100%
      ),
      url(/assets/images/P2.png),
      lightgray -51px -63.065px / 118.214% 137.917% no-repeat;
    backdrop-filter: blur(19.5px);

    @apply w-full  bg-cover bg-no-repeat rounded-[1.2rem] pb-5;
  }
  .pera {
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(97deg, #4b86fc -130.13%, #75f2f6 116.23%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }
  .input_dark {
    border-radius: 13px;
    background: var(
      --Linear,
      linear-gradient(
        144deg,
        rgba(255, 255, 255, 0.4) -278.56%,
        rgba(109, 109, 109, 0.4) -78.47%,
        rgba(17, 16, 29, 0.4) 91.61%
      )
    );
  }
  .login_container {
    border-radius: 30px;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.01) 0%,
        rgba(0, 0, 0, 0.01) 100%
      ),
      #fff;
  }
}

/* .hero_btn {
  transition: color 0.3s ease, background-color 0.3s ease;
  color: #4b86fc;
} */

/* Apply the hover effect */
/* .hero_btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  background: linear-gradient(97deg, #4b86fc -55.87%, #4b86fc 51.18%);
  transition: left 0.3s ease; 
  z-index: -1; 
} */
/* .hero_btn:hover {
  color: white;
} */

/* Change the left position on hover to reveal the gradient */
/* .hero_btn:hover::after {
  left: 0; 
} */

html {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  text-size-adjust: 100%;
  height: 100%;
}
html {
  scroll-behavior: smooth;
}
/* Change the color and size of the scrollbar */
/* Target the thumb of the vertical scrollbar */
.react-custom-scrollbars-thumb-vertical {
  background-color: #aaa;
}

/* Target the track of the vertical scrollbar */
.react-custom-scrollbars-track-vertical {
  background-color: #eee;
}
track-vertical {
  width: 10px !important;
}
/* Increase the width of the vertical scrollbar */
/* You might need to adjust this selector based on the specific structure of your scrollbars */
/* This is just a sample selector */
.react-custom-scrollbars-scrollbar-vertical {
  width: 12px !important;
}
